@import '../../../scss/mixins-breakpoint';

// p.home {
// 	position: sticky;
// 	background: #0057d8;
// 	padding: 10px;
// 	top: 10px;
// }

.xchange-rates {
	&-title {
		font-size: 36px;
		padding: 20px 10px 10px;
	}
	&-container {
		display: flex;
		flex-flow: row wrap;
	    justify-content: space-around;
	    padding: 1rem .5rem;
	    &--card {
	    	aspect-ratio: 3.5;
		    flex-basis: 30%;
		    margin: 10px;
		    padding: 8px 16px;
		    border-radius: 10px;
		    border: 1px solid #efefef;
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
		    // min-width: 320px;
		    @include breakpoint(lt-sm) {
		      flex-basis: 100%;
		    }
		    @include breakpoint(sm) {
		      flex-basis: 45%;
		    }
		    @include breakpoint(md) {
		      flex-basis: 30%;
		    }
	    }
	}
}
