<app-navbar></app-navbar>
<div class="xchange-rates-title">
  Currency Exchanger
</div>
<app-converter-card (amountChange)="onAmountUpdate($event)"></app-converter-card>
<div *ngIf="rates" class="xchange-rates-container">
  <div *ngFor="let item of preferedSymbols | slice:0:9" class="xchange-rates-container--card" [routerLink]="['/details']" routerLinkActive="active" [queryParams]="{from: 'EUR', to: item}" >
    <div>{{from}} - {{item}}</div>
    <div>Rate: {{amount * rates[item] | number: '1.0-4'}} {{item}}</div>
  </div>
</div>
