@import '../../../../scss/mixins-breakpoint';

.navbar {
	position: sticky;
	padding: 4px;
	top: 0px;
	background-color: #000;
    &-conntainer {
    	display: flex;
	    align-items: center;
	    border: 1px solid #efefef;
	    padding: 10px;
	    gap: 12px;
	    flex-flow: row wrap;
    	span.flex {
		flex: auto;
		}
		.nav-item {
			padding: 8px 16px;
		    border: 1px solid #efefef;
		    color: #fff;
		    text-decoration: none;
		    cursor: pointer;
		    text-align: center;
		    flex-flow: wrap;
		    &.active {
		    	color: #0057d8;
		    	border-color: #0057d8;
		    }
		}
    }
}
