.details {
	padding: 20px 10px 10px;
	display: flex;
	&-title {
		font-size: 36px;
	}
	&-name {
		font-size: 36px;
		font-weight: 300;
	}
	.flex {
		flex: auto;
	}
	button {
		color: #fff;
		border: 0;
		border-radius: 2px;
		background: #0057d8;
		flex-basis: 25%;
		padding: 8px 0;
	}
}
