<app-navbar></app-navbar>
<div class="details">
  <div class="details-title">
    {{from}}- <span class="details-name">{{fromName}}</span>  
  </div>
  <span class="flex"></span>
  <button [routerLink]="['']">Back to Home</button>
</div>
<app-converter-card [from]="from" [to]="to" [isDetails]="isDetails"></app-converter-card>
<app-details-chart [from]="from" [to]="to" ></app-details-chart>
