.converter-card {
	margin: 4px;
	border: 1px solid #efefef;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	min-height: 200px;
	&-left {
		flex-basis: 35%;
		padding: 0 20px 20px 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&-right {
		padding: 0 10px 10px 10px;
		flex-basis: 65%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 5px;
	}
	&-input {
		label {
			display: block;
			padding: 5px 10px;
			width: 100%;
		}
		input {
			width: 100%;
			padding: 4px 8px;
			background-color: #000;
			border: 1px solid #efefef;
			border-radius: 5px;
			color: #fff;
			text-align: center;
			&:focus {
				outline: #0057d8 auto 1px;
			}
		}
	}
	&-default {
		width: 100%;
		min-height: 36px;
		padding: 4px 8px;
		line-height: 24px;
		background-color: #000;
		border: 1px solid #efefef;
		border-radius: 5px;
		color: #fff;
		text-align: center;
	}
	&-convert {
		border: 0;
		border-radius: 2px;
		background-color: #0057d8;
		color: #fff;
		width: 100%;
		padding: 8px 0;
	}
	&-result {
		display: flex;
		align-items: center;
		gap: 10px;
		&-display {
			flex: auto;
			text-align: center;
			padding: 20px;
			border: 1px solid #efefef;
		}
		&-back {
			flex: auto;
			border: 0;
			border-radius: 2px;
			background-color: #0057d8;
			color: #fff;
			padding: 8px 0;
			&.active {
				display: none;
			}
		}
	}
	
	&-fromTo {
		display: flex;
		justify-content: space-between;
		label {
			display: block;
			padding: 5px 10px;
			width: 100%;
		}
		select {
			width: 100%;
		    text-align: right;
		    background: #333;
		    color: #fff;
		    padding: 8px;
		    border-radius: 4px;
		    border-color: #888;
		}
		&-from {
			flex: auto;
		}
		&-swap {
			padding-top: 20px;
			width: 120px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-to {
			flex: auto;
		}
	}
}
