<div class="converter-card">
  <div class="converter-card-left">
    <div class="converter-card-input">
      <label>Amount</label>
      <input type="number" min="1" [(ngModel)]="amount" (ngModelChange)="amountChange.emit(amount)" />
    </div>
    <div class="converter-card-default" *ngIf="rates">
      <span>1 {{from}}=</span><span> {{rates[to] | number: '1.0-4'}} {{to}}</span>
    </div>
  </div>
  <div class="converter-card-right">
    <div class="converter-card-fromTo">
      <div class="converter-card-fromTo-from">
        <label>From</label>
        <select [(ngModel)]="from">
              <option *ngFor="let symbol of allSymbols" [value]="symbol">{{symbol}}</option>
        </select>
      </div>
      <div class="converter-card-fromTo-swap" (click)="swap()">
        Swap
      </div>
      <div class="converter-card-fromTo-to">
        <label>To</label>
        <select [(ngModel)]="to">
              <option *ngFor="let symbol of allSymbols" [value]="symbol">{{symbol}}</option>
        </select>
      </div>
    </div>
    <button class="converter-card-convert">Convert</button>
    <div class="converter-card-result">
      <div class="converter-card-result-display" *ngIf="rates">
        {{amount * rates[to] | number: '1.0-4'}} {{to}}
      </div>
      <button class="converter-card-result-back" [class.active]="isDetails" [routerLink]="['/details']" [queryParams]="{from: from, to: to}">More Details </button>
    </div>
  </div>
</div>
