@import './scss/mixins-breakpoint';

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  // overscroll-behavior-y would be used to prevent "pull to refresh", experimental and not implemented
  // overscroll-behavior-y: none;
  background-color: #000;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.25;
  color: #fff;
  margin: 0;
}

