/**
 * Usage:
 * Breakpoints:
 * https://github.com/angular/flex-layout/wiki/Responsive-API
 */
 $breakpoint-xxl: 5000px;
 $breakpoint-xl: 1920px;
 $breakpoint-lg: 1280px;
 $breakpoint-md: 960px;
 $breakpoint-sm: 600px;

@mixin breakpoint($point) {

  @if $point == 'xs' { // <= 600
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $point == 'sm' { // 601 - 960
    @media (min-width: $breakpoint-sm + 1px) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $point == 'md' { // 961 - 1280
    @media (min-width: $breakpoint-md + 1px) and (max-width: $breakpoint-lg) { @content; }
  }
  @else if $point == 'lg' { // 1281 - 1920
    @media (min-width: $breakpoint-lg + 1px) and (max-width: $breakpoint-xl) { @content; }
  }
  @else if $point == 'xl' { // 1921 - 5000
    @media (min-width: $breakpoint-xl + 1px) and (max-width: $breakpoint-xxl) { @content; }
  }


  @else if $point == 'lt-sm' { // <= 600
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $point == 'lt-md' { // <= 960
    @media (max-width: $breakpoint-md) { @content; }
  }
  @else if $point == 'lt-lg' { // <= 1280
    @media (max-width: $breakpoint-lg) { @content; }
  }
  @else if $point == 'lt-xl' { // <= 1920
    @media (max-width: $breakpoint-xl) { @content; }
  }

  @else if $point == 'gt-xs' { // >= 601
    @media (min-width: $breakpoint-sm + 1px) { @content; }
  }
  @else if $point == 'gt-sm' { // >= 961
    @media (min-width: $breakpoint-md + 1px) { @content; }
  }
  @else if $point == 'gt-md' { // >= 1281
    @media (min-width: $breakpoint-lg + 1px) { @content; }
  }
  @else if $point == 'gt-lg' { // >= 1921
    @media (min-width: $breakpoint-xl + 1px) { @content; }
  }

}
